## Desafio 72

In [22]:
contagem = ('zero','um','dois','três','quatro','cinco','seis','sete','oito','nove','dez','onze','doze','treze','quatorze','quinze','dezesseis','dezessete','dezoito','dezenove','vinte')
while True:
    c = int(input('Digite um número entre 0 e 20: '))
    if c < 0 or c > 20:
        print('Número inválido, digite novamente!')
    else:    
        print(f'Você escolheu o número {c}, que por exetenso é: {contagem[c]}')
        break

Digite um número entre 0 e 20: 2
Você escolheu o número 2, que por exetenso é: dois

## Desafio 73

In [48]:
times = ('Flamengo','Internacional','Atlético-MG','São Paulo','Fluminense','Grêmio','Palmeiras','Santos','Athletico','Bragantino','Ceará','Corinthians','Atlético-GO','Bahia','Sport','Fortaleza','Vasco','Goiás','Coritiba','Botafogo')
#5 Primeiros Colocados:
print('Os 5 primeiros colocados são: ',times[0:5])
print('-='*50)
# Os 4 últimos são:
print('Os 4 últimos colocados são: ',times[-4:])
print('-='*50)
#Lista dos times em ordem alfabética:
print('Times em ordem alfabética: \n',sorted(times))
print('-='*50)
#Em que posição está Atlético-MG
print('O Atlético-MG está na {}ª posição.'.format(times.index('Atlético-MG')))

Os 5 primeiros colocados são:  ('Flamengo', 'Internacional', 'Atlético-MG', 'São Paulo', 'Fluminense')
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Os 4 últimos colocados são:  ('Vasco', 'Goiás', 'Coritiba', 'Botafogo')
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Times em ordem alfabética:
 ['Athletico', 'Atlético-GO', 'Atlético-MG', 'Bahia', 'Botafogo', 'Bragantino', 'Ceará', 'Corinthians', 'Coritiba', 'Flamengo', 'Fluminense', 'Fortaleza', 'Goiás', 'Grêmio', 'Internacional', 'Palmeiras', 'Santos', 'Sport', 'São Paulo', 'Vasco']
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
O Atlético-MG está na 2ª posição.

## Desafio 74

In [2]:
from random import randint
a = randint(0,10)
b = randint(0,10)
c = randint(0,10)
d = randint(0,10)
e = randint(0,10)
tupla = (a,b,c,d,e)
print('Números sorteados:')
for c in tupla:
    print(c, end = ' ')
tuplaord = sorted(tupla)
print('\nO menor é: ',tuplaord[0])
print('O maior é: ',tuplaord[4])

Números sorteados:
3 6 0 2 1
O menor é:  0
O maior é:  6

## Desafio 75

In [36]:
a = int (input('Digite o valor 1: '))
b = int (input('Digite o valor 2: '))
c = int (input('Digite o valor 3: '))
d = int (input('Digite o valor 4: '))
tupla75 = (a,b,c,d)
cont9 = 0
contpar = 0
c = 0 
print(f'O número 3 está na posição: {tupla75.index(3)}.')
for c in tupla75:
    if c == 9:
        cont9 += 1
    if c % 2 == 0:
        contpar += 1
print(f'O número 9 apareceu {cont9} vezes.')
print(f'Os número pares sao {contpar}.')

Digite o valor 1: 3
Digite o valor 2: 4
Digite o valor 3: 6
Digite o valor 4: 9
O número 3 está na posição: 0.
O número 9 apareceu 1 vezes.
Os número pares sao 2.

In [30]:
for d in tupla75:
    if d % 2 == 0:
        print(f'O número {d} é par')
        d=+ 1

O número 4 é par

In [31]:
tupla75

(5, 4, 9, 9)